# Default build directory for CMake
/build
/html
/man
# Common artifact extensions on Linux
*.o
*.a
*.so
/src/generate-limits
/include/limits.h
# Common artifact extensions on Windows
*.obj
*.lib
*.dll
*.exe
